<header class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="/img/Night Devs.png" class="w-25 m-auto animated bounceIn" alt="Website Logo" />
        <h1 class="display-1 my-5 text-uppercase fw-bold">Night Devs</h1>
        <a href="/about" class="btn btn-primary w-25">About Us</a>
    </div>
</header>