<!-- Meta Tags -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="HomePage">
<meta name="keywords" content="HomePage">
<meta name="author" content="Stiward Carrillo R">
<title><%= title %></title>
<!-- Google Fonts CSS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&display=swap">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="/css/index.css">
<!-- Favicon -->
<link rel="android-chrome" sizes="192x192" href="/img/favicons/android-chrome-192x192.png">
<link rel="android-chrome" sizes="512x512" href="/img/favicons/android-chrome-512x512.png">
<link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
<link rel="icon" href="/img/favicons/favicon.ico">
<link rel="manifest" href="/img/favicons/site.webmanifest">